.active {
    background: $gold;
    .options-wrapper {
        .perform {
            &:hover {
                background: $pink;
            }
        }
        .sports {
            &:hover {
                background: $blue;
            }
        }
    }
}
