.career {
    background: lighten($orange, 10%);
    .questions-wrapper {
        .options-wrapper {
            .yes {
                &:hover {
                    background: $blue;
                }
            }
            .no {
                &:hover {
                    background: $gold;
                }
            }
        }
    }
    @media (max-width: 320px) {
        padding-bottom: 30px;
    }
}
