.career {
    background: $blue;
    .questions-wrapper {
        .options-wrapper {
            .yes {
                &:hover {
                    background: $pink;
                }
            }
            .no {
                &:hover {
                    background: $gold;
                }
            }
        }
    }
}
