.hobby {
    background: $gold;
    .options-wrapper {
        .yes {
            &:hover {
                background: $blue;
            }
        }
        .no {
            &:hover {
                background: $pink;
            }
        }
    }
}
