.hobby {
    background: lighten($purple, 10%);
    .options-wrapper {
        .yes {
            &:hover {
                background: $gold;
            }
        }
        .no {
            &:hover {
                background: $pink;
            }
        }
    }
    @media (max-width: 320px) {
        #hobby {
            top: 0;
        }
        #hobby-wrapper {
            top: 0;
            transform: translateY(0);
        }
    }
}
