.hobby {
    background: lighten($purple, 10%);
    .options-wrapper {
        .yes {
            &:hover {
                background: $gold;
            }
        }
        .no {
            &:hover {
                background: $pink;
            }
        }
    }
}
