.nonactive {
    background: $pink;
    .questions-wrapper {
        .options-wrapper {
            .perform {
                &:hover {
                    background: $pink;
                }
            }
            .visual {
                &:hover {
                    background: $blue;
                }
            }
            .else {
                &:hover {
                    background: lighten($green, 20%);
                }
            }
        }
    }
}
