.nongreek {
    .results-wrapper {
        color: #fff;
        .subheader {
            a {
                color: $blue-grey;
                transition: color 250ms;
                &:hover {
                    color: darken($blue-grey, 10%);
                }
            }
        }
        .org-list {
            li {
                @include col(1/2, 0, 2);
                a {
                    color: $blue-grey;
                    transition: color 250ms;
                    &:hover {
                        color: darken($blue-grey, 10%);
                    }
                }
                @media (max-width: 900px) {
                    @include col(1, 0, 1, 2);
                }
            }
        }
    }
}
