.perform {
    a {
        color: $blue-grey;
        transition: color 250ms;
        &:hover {
            color: darken($blue-grey, 10%);
        }
    }
    .results-wrapper {
        color: #fff;
        .org-list {
            li {
                @include col(1/2, 0, 2);
                @media (max-width: 1040px) {
                    @include col(1, 0, 1, 2);
                }
            }
        }
    }
}
