.sports {
    background: $blue;
    .questions-wrapper {
        .options-wrapper {
            .club {
                &:hover {
                    background: $pink;
                }
            }
            .intramural {
                &:hover {
                    background: $gold;
                }
            }
        }
    }
}
