.sports {
    a {
        color: darken($blue-grey, 15%);
        transition: color 250ms;
        &:hover {
            color: $blue-grey;
        }
    }
    .results-wrapper {
        color: #fff;
        ul.org-list {
            li {
                @include col(1/2, 0, 2);
                @media (max-width: 940px) {
                    @include col(1, 0, 1, 2);
                }
            }
        }
    }
}
