.start {
    background: lighten($green, 20%);
    .questions-wrapper {
        .options-wrapper {
            .hobby {
                &:hover {
                    background: $gold;
                }
            }
            .career {
                &:hover {
                    background: $blue;
                }
            }
        }
    }
}
