.start {
    background: lighten($green, 20%);
    .options-wrapper {
        .hobby {
            &:hover {
                background: lighten($purple, 10%);
            }
        }
        .career {
            &:hover {
                background: lighten($orange, 10%);
            }
        }
    }
    @media (max-width: 320px) {
        #start-header {
            top: 0;
        }
        #start-wrapper {
            top: 0;
            transform: translateY(0);
        }
    }
}
