<div class="asuc page-container" ng-controller="asucCtrl">
    <div class="results-wrapper">
        <div class="header">Positions in the ASUC</div>
        <div class="subheader">
            <br>The Associated Students of the University of California is an independent non profit organization from University governance.  Whether you want to run for senate or work on a campaign team, there are many positions for you if you are interested in getting involved in student government.  You can read more about the ASUC <a href="https://asuc.org/" target="_blank">here</a>.
        </div>
        <div class="button-wrapper">
            <button class="back" ui-sref="home" ng-style="buttonColor">play again</button>
        </div>
    </div>
</div>
