<div class="home-page page-container">
    <div class="content-wrapper">
        <div class="logo"></div>
        <div class="title">Calapalooza Roadmap</div>
        <div class="subtitle">By <a href="https://www.facebook.com/InnovativeDesignUCB/" target="_blank">Innovative Design</a></div>
        <div class="button-wrapper">
            <button class="start" ui-sref="start">start</button>
        </div>
        <div class="disclaimer">Disclaimer: this game is by no means comprehensive and meant as a guide only. <br>A comprehensive list of all 1,200+ clubs can be found <a href="http://www.berkeley.edu/campus-life/student-organizations" target="_blank">here</a>, but that's a lot to sort through. <br>Wouldn't it be more fun to play this game?</div>
    </div>
</div>
