<div class="spirit page-container" ng-controller="spiritCtrl">
    <div class="results-wrapper">
        <div class="header">{{ header }}</div>
        <div class="subheader">{{ subheader }}</div>
        <div class="button-wrapper">
            <button class="back" ui-sref="home" ng-style="buttonColor">play again</button>
        </div>
        <ul class="org-list">
            <li ng-repeat="team in teams track by $index">
                <a href="{{ team.link }}" target="_blank">{{ team.name }}</a>
                <div class="description">{{ team.description }}</div>
            </li>
        </ul>
    </div>
</div>
